src/main/mule/ci-cd-02.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a214546a-31da-49f4-962d-0a7be1797979" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="b0232062-84d1-4fbd-95a4-d9f34a77abc4" file="details.yaml" />
	<flow name="ci-cd-02Flow" doc:id="81bb23e0-165a-40ce-afb6-aafa1169d4ef" >
		<http:listener doc:name="Listener" doc:id="b4d4d367-a9dc-4ec1-8e98-144c7188530c" config-ref="HTTP_Listener_config" path="base"/>
		<set-variable value="#[10]" doc:name="Set Variable" doc:id="225fc1da-67c5-4bbe-92d2-649180cd04ee" variableName="num1"/>
		<set-variable value="#[20]" doc:name="Set Variable" doc:id="da274e80-7839-4b16-a11e-55fb65e84d85" variableName="num2"/>
		<ee:transform doc:name="Transform Message" doc:id="70e5129b-d284-42ba-b9b6-c1c1d8c0b417" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'Message': "Welcome to SCM poll version 1.0.0",
	'output' : vars.num1 as Number + vars.num2 as Number
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2937824a-6b1f-442c-8290-8238bf934107" message="#['completed']"/>
	</flow>
</mule>
